*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face{
  font-family: 'customfont';
  src:url(../fonts/Gelion/Gelion/Gelion-SemiBold.ttf);
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    overflow: hidden;
}
#myVideo {

    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height:100%;
    animation: play 10s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    }
@keyframes play{
    0%{
       opacity: 0;
    }
    11.11%{

       opacity: 0.17;
    }
    100%{
        opacity: 0.17;
    }
}

.entire-page{
    position: relative;
    height: 100vh;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    color: white;
    display: block;
}
.entire-page::after {
    --border-width: 3px;
    position: absolute;
    content: "";
    background-image: linear-gradient(to right bottom,#55c57a,#7ed56f,#28b485);
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 0;
    animation: moveGradient1 4s alternate infinite .7s;
  }


@keyframes moveGradient1 {
  50% {
    background-position: 100% 50%;
  }
}

.content-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    position: relative;
    
    height: 75vh;
    width: 30vw;
    border-radius:5px;
    box-shadow: 0 1.5rem 1.2rem rgb(0, 0, 0, 0.2);
    top: 12%;
    left: 36%;
    background-color: ivory;
    opacity:1;
}
.content_animate1{
    animation: leftToRight 0.5s ease-out .2s;
    animation-fill-mode: both;
}
  @keyframes leftToRight {
    0%{
        opacity: 0;
        transform:  translateX(-90rem) scale(.1);
    }
    75%{
       
        transform: translateX(+7rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.content_animate2{
  animation: toleft .5s ease-out .2s forwards;
}
@keyframes toleft {
  100%{
        transform: scale(.99) translateX(0rem) translateY(0rem);
        
  }  
}

.content-box::after {
    --border-width: 3px;
    position: absolute;
    content: "";
    background-image: linear-gradient(to right bottom,#55c57a,#7ed56f,#28b485);
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 100% 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient2 4s alternate infinite 0.7s;
  }
  @keyframes moveGradient2 {
    50% {
      background-position: 0 50%;
    }
  }
 
.enter-heading{
    
    backface-visibility: hidden;
    display: inline-block;
    background-image: linear-gradient(to right,#7ed56f,#28b485);
    padding: 0.5rem .5rem;
    font-weight: 900;
    /* margin-left: 5vh; */
    
    height: 80vh; 
    font-size: 10vw;
    transform: translateY(-.5rem);
    font-family:'Montserrat', sans-serif;
    letter-spacing: .3rem;
    text-align: center;     
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* animation: goback 2s ease 2s forwards; */
}
/* @keyframes goback {
    100%{
        position: relative;
        z-index: -1;   
    }
} */

.enter_details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
font-family: 'Montserrat',sans-serif;
font-size: large;  
position:absolute;
border-radius: 3px;
top: 5vh;
right:0vw;
background-color:transparent; 
opacity:1;
width: 25vw;
height:25vh;
animation: getin 0.8s ease-out 1.5s both;
}
@keyframes getin {
  0%{
     transform: translateX(35vw) scale(.4);
  }
  100%{
    transform: translateX(0vw) scale(1);
  }
  
} 

.email-label{
  display: flex;
  align-self: flex-end;
  transform: translateY(.5vw) translateX(0vw);
}

.input{
  color:white;
  padding: .7vw;
  font-family: 'Montserrat',sans-serif;
  font-weight:200;
  font-size: medium; 
  letter-spacing: .06rem;
  /* background-color: orange; */
height:7vh;
width:25vw;
border-color: transparent;
border-radius: .4vw;
background-color: orange;
}
.input::placeholder{
  color:white;
  opacity:.5;
}

.input:focus{
  outline: none;

}

.btn{
position: relative; 
left: .65vw;   
top:-.5vh;  
color:white;
font-weight: 200;
font-size: 3.1vh;
font-family:'Montserrat',sans-serif;
border-radius: .75rem;
border-color: transparent;
background-color: #222;
height:9vh;
width:9vw;
transform: scale(0.8);

}
.btn:hover{
  cursor: pointer;
  transform: scale(.82);
}
#errorEmail{
	color:red;
}