<!DOCTYPE web-app PUBLIC 
"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app> 
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list><welcome-file>prototype.html</welcome-file></welcome-file-list>
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/abc.htm</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout.jsp</url-pattern>
  </servlet-mapping>
  <!-- jsp mapping -->
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/WEB-INF/jsp/Home.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>Store</servlet-name>
    <jsp-file>/WEB-INF/jsp/storeData.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>Store</servlet-name>
    <url-pattern>/storeData.jsp</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>Search</servlet-name>
    <jsp-file>/WEB-INF/jsp/Search.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search.jsp</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SearchFriend</servlet-name>
    <jsp-file>/WEB-INF/jsp/SearchFriend.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>SearchFriend</servlet-name>
    <url-pattern>/searchFriend</url-pattern>
</servlet-mapping>




<servlet>
    <servlet-name>Profile</servlet-name>
    <jsp-file>/WEB-INF/jsp/profile.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile.jsp</url-pattern>
</servlet-mapping>
<servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>

<servlet-mapping>
	<servlet-name>LogoutServlet</servlet-name>
	<url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>

</web-app>
